<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow" data-aos="fade-up" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
                <div class="card-body">
                    <form>
                        <div class="mb-3" style="text-align:center">
                            <h1 class="text-dark" >Welcome</h1>
                            <h4 class="text-dark">Verification link Has been sent to Email</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div  style="text-decoration: none; cursor: pointer;">Go Back to <span  class="text-primary" routerLink="/login">Login</span></div>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

